@model BreadcrumbViewModel
@inject IAppService AppService

<div class="breadcrumb-wrapper">
    <nav class="breadcrumb-nav" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                @foreach (var item in Model.Path)
                {
                    <li class="breadcrumb-item @(string.IsNullOrEmpty(item.Value) ? "active" : "")">
                        @if (string.IsNullOrEmpty(item.Value))
                        {
                            <span aria-current="page">@item.Key</span>
                        }
                        else
                        {
                            <a href="@item.Value">@Html.Raw(item.Key)</a>
                        }
                    </li>
                }
            </ol>
        </div>
    </nav>
</div>
