@{
    ViewBag.Title = "Sản phẩm";
    ViewData["Canonical"] = Url.Action("AllProduct", "Home", null, protocol: Context.Request.Scheme);

    var breadcrumb = new BreadcrumbViewModel
    {
        Path =
        [
            new BreadcrumbItem
            {
                Key = "<i class='fa-solid fa-house mr-2'></i>Trang chủ",
                Value = Url.Action("Index", "Home")
            },

            new BreadcrumbItem
            {
                Key = ViewBag.Title,
                Value = null
            }
        ]
    };
}

<partial name="_breadcrumb" model="breadcrumb" />

<div class="container pb-4 pb-md-5">
    <div class="row">
        <div class="col-lg-3 order-1 order-lg-0">
            @await Component.InvokeAsync("FilterBar")
        </div>
        <div class="col-lg-9 order-0 order-lg-1" id="AllProductView">
            <partial name="AllProductView" model="Model" />
        </div>
    </div>
</div>

@section Scripts {
    <script>
        AllProductJS();
    </script>
}