@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    @for (int i = 0; i < 5; i++)
    {
        <a href="" class="banner-item">
            <img src="~/images/c0bf482b1c98656440de74fc4cce3137.jpg" alt="" />
        </a>
    }
</div>

<div class="container py-5">
    <h2 class="section-title line-bottom mb-4">DANH MỤC SẢN PHẨM</h2>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5">
        @for (int i = 0; i < 5; i++)
        {
            <div class="col">
                <a href="" class="category-item">
                    <img src="~/images/c0bf482b1c98656440de74fc4cce3137.jpg" alt="" />
                    <h3>Tên danh mục</h3>
                </a>
            </div>
        }
    </div>
</div>

<div class="outstanding container py-5">
    <h2 class="section-title">Sản phẩm nổi bật</h2>
    <p class="section-text line-bottom mb-4">Các sản phẩm nổi bật theo từng loại sản phẩm</p>
    <ul class="outstanding-tabs">
        @for (int i = 0; i < 5; i++)
        {
            <li>
                <a href="#outstanding-@i">
                    Tab @i
                </a>
            </li>
        }
    </ul>
    @for (int i = 0; i < 5; i++)
    {
        <div class="outstanding-content" id="outstanding-@i">
            @for (int j = 0; j < 15; j++)
            {
                <partial name="ItemProduct" />
            }
        </div>
    }
</div>

@for (int i = 0; i < 5; i++)
{
    <div class="container py-5">
        <h2 class="section-title line-bottom mb-4">MỸ PHẨM</h2>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 mx-n2 mb-n3">
            @for (int j = 0; j < 10; j++)
            {
                <div class="col px-2 mb-3">
                    <partial name="ItemProduct" />
                </div>
            }
        </div>
        <div class="d-flex justify-content-center mt-4">
            <a href="" class="btn btn-primary">
                Xem tất cả<i class="fa-solid fa-circle-chevron-right ml-2"></i>
            </a>
        </div>
    </div>
}

<div class="news">
    <div class="container py-5">
        <h2 class="section-title line-bottom mb-4">Tin tức và sự kiện</h2>
        <div class="news-grid overflow-hidden">
            @for (int j = 0; j < 7; j++)
            {
                <div class="item-grid">
                    <a href="" class="image">
                        <img src="~/images/c0bf482b1c98656440de74fc4cce3137.jpg" />
                    </a>
                    <div class="content">
                        <a href="" class="name">
                            Tên bài viết
                        </a>
                        <p class="date">20/05/2022</p>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>