<div class="product-item">
    <a class="avatar" href="">
        <img src="~/images/c0bf482b1c98656440de74fc4cce3137.jpg" />
    </a>
    <div class="body">
        <a class="name" href="">
            <h3>Tên sản phẩm testing testing testing testing testing</h3>
        </a>
        <div class="row">
            <div class="col-6">
                <span class="masp">Mã: MP-SER30</span>
            </div>
            <div class="col-6">
                <span class="price">555.000 đ</span>
            </div>
        </div>
    </div>
</div>