@charset "UTF-8";
.container {
  max-width: 1330px;
}
@media (max-width: 1366px) {
  .container {
    max-width: 1230px;
  }
}
@media (max-width: 1100px) {
  .container {
    max-width: 1090px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 764px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Exo", sans-serif;
  font-size: 16px;
  top: 0 !important;
  background: #F3F7F8;
}

img {
  max-width: 100%;
}

a, a:hover {
  text-decoration: none;
}

header {
  background-color: #506DB3;
}

.logo {
  display: block;
  width: 168px;
}
.logo img {
  width: 100%;
  object-fit: contain;
}

.link-icon {
  max-width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.link-icon .icon {
  position: relative;
  border-radius: 5px;
  background: rgba(216, 243, 255, 0.5);
  width: 30px;
  aspect-ratio: 1;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-icon .icon .count {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 16px;
  height: 16px;
  font-size: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EA3D30;
  border-radius: 50%;
}
.link-icon .icon .arrow {
  position: absolute;
  top: 5px;
  right: -15px;
}
.link-icon .name {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  margin-top: 2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
.link-icon:hover {
  color: #fff;
}

.search {
  border: 1px solid #fff;
  border-radius: 3px;
}
.search .custom-select {
  box-shadow: none;
  border: 0;
  border-radius: 0;
  color: #7A8489;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.search .form-control {
  box-shadow: none;
  border: 0;
  border-radius: 0;
  font-size: 14px;
}
.search .form-control::placeholder {
  color: #AFAFAF;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
}
.search .btn.btn-primary {
  box-shadow: none;
  border: 0;
  border-radius: 0;
  background-color: #E0E9FF;
  color: #506DB3;
  font-size: 14px;
}

.menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.menu li {
  flex: 1 1 auto;
  position: relative;
}
.menu li:hover .submenu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.menu .submenu {
  position: absolute;
  top: calc(100% + 30px);
  left: 0;
  z-index: 2;
  padding: 0 15px;
  margin: 0;
  list-style-type: none;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
}
.menu .submenu a, .menu .submenu button {
  display: inline-block;
  white-space: nowrap;
  padding: 8px 0;
  color: #011027;
  outline: 0;
  border: 0;
  background-color: transparent;
  transition: 0.2s;
}
.menu .submenu a:hover, .menu .submenu button:hover {
  color: #506DB3;
}
.menu .submenu li:not(:last-child) a {
  border-bottom: 1px solid #cdcdcd;
}
.menu a {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
}
.menu a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #fff;
  display: none;
}
.menu a.active {
  font-weight: 600;
}
.menu a.active::before {
  display: block;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.header-links li {
  position: relative;
}
.header-links li:hover .drop-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.header-links .drop-menu {
  position: absolute;
  top: calc(100% + 30px);
  right: 0;
  z-index: 2;
  padding: 0 15px;
  margin: 0;
  list-style-type: none;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
}
.header-links .drop-menu a, .header-links .drop-menu button {
  display: inline-block;
  white-space: nowrap;
  padding: 8px 0;
  color: #011027;
  outline: 0;
  border: 0;
  background-color: transparent;
  transition: 0.2s;
}
.header-links .drop-menu a:hover, .header-links .drop-menu button:hover {
  color: #506DB3;
}
.header-links .drop-menu li:not(:last-child) a {
  border-bottom: 1px solid #cdcdcd;
}

.banner .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.banner .slick-dots li {
  margin: 0;
}
.banner .slick-dots button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0.9;
  text-indent: -9999px;
}
.banner .slick-dots li.slick-active button {
  background-color: #506DB3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #fff;
  opacity: 1;
}
.banner .slick-dots {
  bottom: 5px;
}

.banner-item {
  display: block;
  width: 100%;
}
.banner-item img {
  width: 100%;
  aspect-ratio: 2.29608;
  object-fit: cover;
}

.category-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.category-item img {
  width: 128px;
  aspect-ratio: 1;
  object-fit: cover;
  padding: 5px;
  border-radius: 50%;
  border: 3px solid #506DB3;
}
.category-item h3 {
  color: #011027;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 0;
}

.section-title {
  color: #011027;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}
.section-title.white {
  color: #fff;
}

.line-bottom {
  position: relative;
  padding-bottom: 20px;
}
.line-bottom::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 68px;
  height: 3px;
  background-color: #506DB3;
}
.line-bottom.white::before {
  background-color: #fff;
}

.section-text {
  color: #011027;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.outstanding-tabs {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: auto;
}
.outstanding-tabs a {
  display: inline-block;
  padding: 8px 18px;
  color: #011027;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: 0.3s ease;
}
.outstanding-tabs li.ui-tabs-active a {
  color: #506DB3;
  border-color: #506DB3;
}

.outstanding-content .slick-slide {
  margin: 0 8px;
}
.outstanding-content .slick-list {
  margin: 0 -8px;
}
.outstanding-content .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.outstanding-content .slick-dots li {
  margin: 0;
}
.outstanding-content .slick-dots button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0.9;
  text-indent: -9999px;
}
.outstanding-content .slick-dots li.slick-active button {
  background-color: #506DB3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #fff;
  opacity: 1;
}
.outstanding-content .slick-next::before {
  content: "\f054";
}
.outstanding-content .slick-prev::before {
  content: "\f053";
}
.outstanding-content .slick-prev:before, .outstanding-content .slick-next:before {
  font-family: "Font Awesome 6 Pro";
  color: #58595b;
  font-size: 12px;
  font-weight: 700;
}
.outstanding-content .slick-prev {
  left: -40px;
}
.outstanding-content .slick-next {
  right: -40px;
}
.outstanding-content .slick-prev, .outstanding-content .slick-next {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.outstanding-content .slick-dots {
  bottom: -50px;
}
.outstanding-content .product-item .avatar {
  padding: 10px;
}

.product-item {
  border-radius: 5px;
  border: 1px solid #F5F5F5;
  overflow: hidden;
}
.product-item .avatar {
  display: block;
  padding: 0;
  background-color: #E0E9FF;
}
.product-item .avatar img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}
.product-item .name {
  display: block;
  margin-bottom: 10px;
}
.product-item .name h3 {
  color: #27272A;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  margin-bottom: 0;
}
.product-item .body {
  padding: 10px;
  background-color: #fff;
}
.product-item .masp {
  display: block;
  color: #858585;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.product-item .price {
  display: block;
  color: #F00;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.btn {
  box-shadow: none;
}

.btn.btn-primary {
  color: #fff;
  background-color: #506DB3;
  border: 0;
}

.btn.btn-light {
  color: #506DB3;
  background-color: #F8F8F8;
  border: 0;
}

.btn.btn-outline-primary {
  color: #506DB3;
  border-color: #506DB3;
  border-radius: 0;
}
.btn.btn-outline-primary:hover {
  color: #fff;
  background-color: #506DB3;
}

.news {
  position: relative;
  background: rgba(80, 109, 179, 0.8);
}
.news::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url(../images/news-bg.png);
  background-size: cover;
  background-attachment: fixed;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 0;
}
.news-grid .item-grid {
  position: relative;
}
.news-grid .item-grid .image {
  display: block;
  height: 100%;
}
.news-grid .item-grid .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-grid .item-grid:nth-child(1) {
  grid-area: 1/1/9/3;
  height: 550px;
}
.news-grid .item-grid:nth-child(1) .name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.news-grid .item-grid:nth-child(1) .content {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 150px;
  opacity: 0.8;
  background: linear-gradient(0deg, rgba(49, 49, 49, 0.71) 0%, rgba(54, 54, 54, 0) 100%);
  mix-blend-mode: normal;
  color: #fff;
  padding: 15px;
}
.news-grid .item-grid:nth-child(1) .text {
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  margin-bottom: 0;
}
.news-grid .item-grid:nth-child(2) {
  grid-area: 1/3/6/5;
  height: 335px;
  margin-bottom: 15px;
}
.news-grid .item-grid:nth-child(2) .name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.news-grid .item-grid:nth-child(2) .content {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 150px;
  opacity: 0.8;
  background: linear-gradient(0deg, rgba(49, 49, 49, 0.71) 0%, rgba(54, 54, 54, 0) 100%);
  mix-blend-mode: normal;
  color: #fff;
  padding: 15px;
}
.news-grid .item-grid:nth-child(2) .text {
  display: none;
}
.news-grid .item-grid:nth-child(3) {
  grid-area: 1/5/5/7;
  height: 265px;
  margin-bottom: 15px;
}
.news-grid .item-grid:nth-child(3) .name {
  display: block;
  color: #fff;
  text-align: justify;
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
.news-grid .item-grid:nth-child(3) .content {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  color: #fff;
  padding: 0 15px;
  height: 36px;
  background-color: #506DB3;
}
.news-grid .item-grid:nth-child(3) .text, .news-grid .item-grid:nth-child(3) .date {
  display: none;
}
.news-grid .item-grid:nth-child(4) {
  grid-area: 6/3/9/4;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.news-grid .item-grid:nth-child(4) .content {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 150px;
  opacity: 0.8;
  background: linear-gradient(0deg, rgba(49, 49, 49, 0.71) 0%, rgba(54, 54, 54, 0) 100%);
  mix-blend-mode: normal;
  color: #fff;
  padding: 15px;
}
.news-grid .item-grid:nth-child(4) .name {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  height: 48px;
  line-height: 24px;
}
.news-grid .item-grid:nth-child(4) .date {
  font-size: 14px;
  margin-bottom: 0;
}
.news-grid .item-grid:nth-child(4) .text {
  display: none;
}
.news-grid .item-grid:nth-child(5) {
  grid-area: 6/4/9/5;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.news-grid .item-grid:nth-child(5) .content {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 150px;
  opacity: 0.8;
  background: linear-gradient(0deg, rgba(49, 49, 49, 0.71) 0%, rgba(54, 54, 54, 0) 100%);
  mix-blend-mode: normal;
  color: #fff;
  padding: 15px;
}
.news-grid .item-grid:nth-child(5) .name {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  height: 48px;
  line-height: 24px;
}
.news-grid .item-grid:nth-child(5) .date {
  font-size: 14px;
  margin-bottom: 0;
}
.news-grid .item-grid:nth-child(5) .text {
  display: none;
}
.news-grid .item-grid:nth-child(6) {
  grid-area: 5/5/7/7;
  display: flex;
  gap: 15px;
  height: 125px;
  margin-bottom: 15px;
}
.news-grid .item-grid:nth-child(6) .image {
  width: 40%;
}
.news-grid .item-grid:nth-child(6) .content {
  width: 60%;
  color: #fff;
}
.news-grid .item-grid:nth-child(6) .name {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  margin-bottom: 6px;
}
.news-grid .item-grid:nth-child(6) .date {
  font-size: 14px;
  margin-bottom: 6px;
}
.news-grid .item-grid:nth-child(6) .text {
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  margin-bottom: 0;
}
.news-grid .item-grid:nth-child(7) {
  grid-area: 7/5/9/7;
  display: flex;
  gap: 15px;
  height: 130px;
}
.news-grid .item-grid:nth-child(7) .image {
  width: 40%;
}
.news-grid .item-grid:nth-child(7) .content {
  width: 60%;
  color: #fff;
}
.news-grid .item-grid:nth-child(7) .name {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  margin-bottom: 6px;
}
.news-grid .item-grid:nth-child(7) .date {
  font-size: 14px;
  margin-bottom: 6px;
}
.news-grid .item-grid:nth-child(7) .text {
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  margin-bottom: 0;
}

.about-image {
  aspect-ratio: 1.3;
  object-fit: cover;
}

.about-text {
  color: #011027;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.about-title {
  color: #011027;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.partner-slider .slick-slide {
  margin: 0 10px;
}
.partner-slider .slick-list {
  margin: 0 -10px;
}
.partner-slider .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.partner-slider .slick-dots li {
  margin: 0;
}
.partner-slider .slick-dots button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0.9;
  text-indent: -9999px;
}
.partner-slider .slick-dots li.slick-active button {
  background-color: #506DB3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #fff;
  opacity: 1;
}
.partner-slider .slick-next::before {
  content: "\f054";
}
.partner-slider .slick-prev::before {
  content: "\f053";
}
.partner-slider .slick-prev:before, .partner-slider .slick-next:before {
  font-family: "Font Awesome 6 Pro";
  color: #58595b;
  font-size: 12px;
  font-weight: 700;
}
.partner-slider .slick-prev {
  left: -40px;
}
.partner-slider .slick-next {
  right: -40px;
}
.partner-slider .slick-prev, .partner-slider .slick-next {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
}
.partner-slider .slick-dots {
  bottom: -50px;
}
.partner-slider img {
  display: block;
  padding: 20px;
  aspect-ratio: 1.8;
  object-fit: contain;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

footer {
  background-color: #fff;
}

.footer-iframe iframe {
  width: 100% !important;
}

.footer-title {
  color: #011027;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}

.footer-links {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-links a {
  color: #011027;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  transition: 0.2s;
}
.footer-links a:hover {
  color: #506DB3;
}

.footer-social {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  aspect-ratio: 1;
  color: #fff;
  background-color: #506DB3;
  border-radius: 5px;
  transition: 0.3s linear;
}
.footer-social a:hover {
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.copyright {
  padding: 10px 0;
  color: #3A2313;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  background-color: #F1F2F3;
  margin-bottom: 0;
}

.form-control {
  box-shadow: none !important;
  border-radius: 5px;
}
.form-control:focus {
  border-color: #506DB3;
}

.validation-summary-errors {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #EA3D30;
  background-color: rgba(234, 61, 48, 0.3);
  border-radius: 5px;
}
.validation-summary-errors ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #011027;
  font-size: 14px;
  font-weight: 600;
}

.product-slider-main {
  border: 1px solid #cdcdcd;
  overflow: hidden;
}
.product-slider-main img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1;
  cursor: pointer;
}

.product-slider-thmb {
  overflow: hidden;
}
.product-slider-thmb .slick-slide {
  margin: 0 5px;
}
.product-slider-thmb .slick-list {
  margin: 0 -5px;
}

.product-slider-thmb .slick-slide {
  margin-top: 20px;
  position: relative;
  border: 1px solid #cdcdcd;
  opacity: 0.5;
  transition: all 0.3s ease;
}
.product-slider-thmb .slick-slide::before {
  content: "";
  position: absolute;
  top: -8px;
  left: calc(50% - 5px);
  width: 0;
  height: 0;
  border-top: 15px solid #506DB3;
  border-left: 15px solid transparent;
  transform: rotate(-45deg);
  display: none;
}
.product-slider-thmb .slick-slide.slick-active, .product-slider-thmb .slick-slide:hover {
  opacity: 1;
}
.product-slider-thmb .slick-slide.slick-current, .product-slider-thmb .slick-slide:hover {
  border-color: #506DB3;
}
.product-slider-thmb .slick-slide.slick-current::before {
  display: block;
}
.product-slider-thmb .slick-slide img {
  object-fit: contain;
  aspect-ratio: 1;
  cursor: pointer;
}

.product-slider-main,
.product-slider-thmb {
  display: none;
}

.product-name {
  color: #101010;
  text-align: justify;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
}

.product-price {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.product-price .price {
  color: #EA3D30;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}
.product-price .price-old, .product-price .price-save {
  color: #27272A;
  font-size: 14px;
  font-weight: 500;
}
.product-price .price-old del {
  color: #7e7f82;
  font-size: 14px;
  font-weight: 600;
}
.product-price .price-save strong {
  color: #03c564;
}

.product-text span {
  display: inline-block;
  width: 120px;
  color: #011027;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.product-text .green {
  color: #03de71;
}
.product-text .red {
  color: #EA3D30;
}

.product-number {
  display: flex;
  align-items: center;
}
.product-number label {
  width: 120px;
  color: #011027;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0;
}
.product-number .nice-number {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cdcdcd;
}
.product-number .input-number {
  width: 45px !important;
  height: 35px;
  text-align: center;
  outline: 0;
  border: 0;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.product-number .input-number::-webkit-outer-spin-button, .product-number .input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-number .input-number[type=number] {
  -moz-appearance: textfield;
}
.product-number .btn {
  width: 35px;
  height: 35px;
  outline: 0;
  border: 0;
  color: #011027;
  box-shadow: none !important;
  background-color: #cdcdcd !important;
}
.product-number .btn:first-child {
  border-radius: 0;
  border: 0;
  background: #FAFAFA;
}
.product-number .btn:last-child {
  border-radius: 0;
  border: 0;
  background: #FAFAFA;
}

.product-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.product-buttons .btn:nth-child(1) {
  flex: 1 2 0;
  padding: 10px 16px;
  text-transform: uppercase;
  border-radius: 0;
}
.product-buttons .btn:nth-child(2) {
  flex: 1 2 0;
  padding: 10px 16px;
  text-transform: uppercase;
}
.product-buttons .btn:nth-child(3) {
  flex: 1 1 100%;
  padding: 10px 16px;
  text-transform: uppercase;
}

.product-des {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #AAA;
}
.product-des h2 {
  color: #011027;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}
.product-des p {
  color: #011027;
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
}

.product-content {
  border: 1px solid #cdcdcd;
  background-color: #fff;
}
.product-content > h2 {
  display: block;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  background-color: #506DB3;
  padding: 10px 15px;
}
.product-content article {
  padding: 15px;
}
.product-content img {
  max-width: 100%;
  height: auto !important;
}

.product-list {
  border: 1px solid #cdcdcd;
  background-color: #fff;
}
.product-list h2 {
  display: block;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  background-color: #506DB3;
  padding: 10px 15px;
}
.product-list .wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.product-list .item {
  color: #011027;
}
.product-list .item img {
  width: 80px;
  object-fit: cover;
  aspect-ratio: 1;
}
.product-list .item h3 {
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.product-list .item p {
  color: #EA3D30;
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  margin-bottom: 0;
}
.product-list .item:not(:last-child) {
  margin-bottom: 25px;
}

.page-title {
  color: #506DB3;
  font-size: 30px;
  font-weight: 600;
}

.page-info {
  display: flex;
  align-items: center;
  gap: 25px;
}
.page-info p {
  margin: 0;
}

.page-share {
  display: flex;
  align-items: center;
  gap: 30px;
}
.page-share p {
  color: #011027;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}
.page-share ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.page-share a {
  display: inline-block;
  width: 28px;
  height: 28px;
}
.page-share img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.shoppingcart-mini {
  width: 333px;
  padding: 15px 0;
  transition: 0.4s;
}
.shoppingcart-mini .list-item {
  max-height: 268px;
  overflow: auto;
  border: 1px solid #bebfc1;
  margin-bottom: 10px;
}
.shoppingcart-mini .list-item::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #cdcdcd;
}
.shoppingcart-mini .list-item::-webkit-scrollbar {
  width: 8px;
  background-color: #cdcdcd;
}
.shoppingcart-mini .list-item::-webkit-scrollbar-thumb {
  background-color: #506DB3;
  border: 1px solid #cdcdcd;
}
.shoppingcart-mini .list-item img {
  width: 30%;
  object-fit: cover;
  aspect-ratio: 1;
}
.shoppingcart-mini .list-item .media-body {
  width: 70%;
  padding-right: 15px;
}
.shoppingcart-mini .list-item .media {
  padding: 8px;
  margin-bottom: 0;
}
.shoppingcart-mini .list-item .media:not(:last-child) {
  border-bottom: 1px solid #bebfc1;
}
.shoppingcart-mini .list-item .name {
  color: #011027;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-height: 24px;
  height: 26px;
}
.shoppingcart-mini .list-item .text {
  margin-bottom: 0;
}
.shoppingcart-mini .list-item .text strong {
  color: #506DB3;
}
.shoppingcart-mini .total {
  color: #58595b;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  margin-bottom: 20px;
}
.shoppingcart-mini .group-button {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.shoppingcart-mini .button-4 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  font-size: 14px;
  color: #506DB3 !important;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  outline: 0;
  border: 1px solid #506DB3 !important;
  background-color: transparent !important;
}
.shoppingcart-mini .button-5 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  font-size: 14px;
  color: #fff !important;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  outline: 0;
  border: 1px solid #506DB3;
  background-color: #506DB3 !important;
}

.empty-cart {
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
}
.empty-cart svg {
  max-width: 500px;
  padding: 0 30px 50px;
}
.empty-cart svg #oval,
.empty-cart svg #plus,
.empty-cart svg #diamond,
.empty-cart svg #bubble-rounded {
  -webkit-animation: plopp 4s ease-out infinite;
  animation: plopp 4s ease-out infinite;
}
.empty-cart svg #oval:nth-child(1),
.empty-cart svg #plus:nth-child(1),
.empty-cart svg #diamond:nth-child(1),
.empty-cart svg #bubble-rounded:nth-child(1) {
  -webkit-animation-delay: -240ms;
  animation-delay: -240ms;
}
.empty-cart svg #oval:nth-child(2),
.empty-cart svg #plus:nth-child(2),
.empty-cart svg #diamond:nth-child(2),
.empty-cart svg #bubble-rounded:nth-child(2) {
  -webkit-animation-delay: -480ms;
  animation-delay: -480ms;
}
.empty-cart svg #oval:nth-child(3),
.empty-cart svg #plus:nth-child(3),
.empty-cart svg #diamond:nth-child(3),
.empty-cart svg #bubble-rounded:nth-child(3) {
  -webkit-animation-delay: -720ms;
  animation-delay: -720ms;
}
.empty-cart svg #oval:nth-child(4),
.empty-cart svg #plus:nth-child(4),
.empty-cart svg #diamond:nth-child(4),
.empty-cart svg #bubble-rounded:nth-child(4) {
  -webkit-animation-delay: -960ms;
  animation-delay: -960ms;
}
.empty-cart svg #oval:nth-child(5),
.empty-cart svg #plus:nth-child(5),
.empty-cart svg #diamond:nth-child(5),
.empty-cart svg #bubble-rounded:nth-child(5) {
  -webkit-animation-delay: -1200ms;
  animation-delay: -1200ms;
}
.empty-cart svg #oval:nth-child(6),
.empty-cart svg #plus:nth-child(6),
.empty-cart svg #diamond:nth-child(6),
.empty-cart svg #bubble-rounded:nth-child(6) {
  -webkit-animation-delay: -1440ms;
  animation-delay: -1440ms;
}
.empty-cart svg #oval:nth-child(7),
.empty-cart svg #plus:nth-child(7),
.empty-cart svg #diamond:nth-child(7),
.empty-cart svg #bubble-rounded:nth-child(7) {
  -webkit-animation-delay: -1680ms;
  animation-delay: -1680ms;
}
.empty-cart svg #oval:nth-child(8),
.empty-cart svg #plus:nth-child(8),
.empty-cart svg #diamond:nth-child(8),
.empty-cart svg #bubble-rounded:nth-child(8) {
  -webkit-animation-delay: -1920ms;
  animation-delay: -1920ms;
}
.empty-cart svg #oval:nth-child(9),
.empty-cart svg #plus:nth-child(9),
.empty-cart svg #diamond:nth-child(9),
.empty-cart svg #bubble-rounded:nth-child(9) {
  -webkit-animation-delay: -2160ms;
  animation-delay: -2160ms;
}
.empty-cart svg #oval:nth-child(10),
.empty-cart svg #plus:nth-child(10),
.empty-cart svg #diamond:nth-child(10),
.empty-cart svg #bubble-rounded:nth-child(10) {
  -webkit-animation-delay: -2400ms;
  animation-delay: -2400ms;
}
.empty-cart svg #oval:nth-child(11),
.empty-cart svg #plus:nth-child(11),
.empty-cart svg #diamond:nth-child(11),
.empty-cart svg #bubble-rounded:nth-child(11) {
  -webkit-animation-delay: -2640ms;
  animation-delay: -2640ms;
}
.empty-cart svg #oval:nth-child(12),
.empty-cart svg #plus:nth-child(12),
.empty-cart svg #diamond:nth-child(12),
.empty-cart svg #bubble-rounded:nth-child(12) {
  -webkit-animation-delay: -2880ms;
  animation-delay: -2880ms;
}
.empty-cart svg #oval:nth-child(13),
.empty-cart svg #plus:nth-child(13),
.empty-cart svg #diamond:nth-child(13),
.empty-cart svg #bubble-rounded:nth-child(13) {
  -webkit-animation-delay: -3120ms;
  animation-delay: -3120ms;
}
.empty-cart svg #oval:nth-child(14),
.empty-cart svg #plus:nth-child(14),
.empty-cart svg #diamond:nth-child(14),
.empty-cart svg #bubble-rounded:nth-child(14) {
  -webkit-animation-delay: -3360ms;
  animation-delay: -3360ms;
}
.empty-cart svg #oval:nth-child(15),
.empty-cart svg #plus:nth-child(15),
.empty-cart svg #diamond:nth-child(15),
.empty-cart svg #bubble-rounded:nth-child(15) {
  -webkit-animation-delay: -3600ms;
  animation-delay: -3600ms;
}
.empty-cart svg #oval:nth-child(16),
.empty-cart svg #plus:nth-child(16),
.empty-cart svg #diamond:nth-child(16),
.empty-cart svg #bubble-rounded:nth-child(16) {
  -webkit-animation-delay: -3840ms;
  animation-delay: -3840ms;
}
.empty-cart svg #bg-line:nth-child(2) {
  fill-opacity: 0.3;
}
.empty-cart svg #bg-line:nth-child(3) {
  fill-opacity: 0.4;
}
.empty-cart h3 {
  font-size: 32px;
  line-height: 32px;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
.empty-cart p {
  color: #58595b;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  max-width: 80%;
  margin: 20px auto 0 auto;
}

@-webkit-keyframes plopp {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, -10px);
    opacity: 0;
  }
}
@keyframes plopp {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, -10px);
    opacity: 0;
  }
}
.cart.table {
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.cart.table td {
  vertical-align: middle;
}
.cart.table .qty input::-webkit-outer-spin-button,
.cart.table .qty input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart.table .qty input[type=number] {
  -moz-appearance: textfield;
}
.cart.table .qty .nice-number {
  width: max-content;
  border: 1px solid #cdcdcd;
}
.cart.table .qty .input-cart {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 6px 12px;
  text-align: center;
  width: 50px !important;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
}
.cart.table .qty .btn, .cart.table .btn:focus {
  width: 37px;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
}
.cart.table th.title {
  text-transform: uppercase;
}
.cart.table .info img {
  width: 80px;
  object-fit: cover;
  aspect-ratio: 1;
  background-color: #cdcdcd;
}
.cart.table .price {
  width: 168px;
}
.cart.table .name {
  color: #506DB3;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.cart.table .remove {
  color: #EA3D30;
  font-weight: 600;
}

.cart-border-right {
  border-right: 1px solid #cdcdcd;
}

.cart-title {
  color: #506DB3;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.order.table {
  margin-bottom: 0;
}
.order.table th.title {
  text-transform: uppercase;
}
.order.table td.sum {
  font-size: 14px;
  padding: 3px 10px;
}
.order.table td.sum-value {
  font-size: 16px;
  font-weight: 600;
  padding: 3px 10px;
  text-align: right;
}
.order.table td.text {
  font-weight: 600;
  text-align: right;
}
.order.table tbody {
  border-bottom: 2px solid #cdcdcd;
}

.order-border {
  border: 2px solid #506DB3;
  border-radius: 8px;
  padding: 50px 20px;
}
.order-border td.sum {
  font-weight: 600;
}

.payment-type {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.payment-type input {
  display: none;
}
.payment-type label {
  position: relative;
  color: #011027;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: start;
  height: 68px;
  padding: 0 20px;
  line-height: 68px;
  display: block;
  cursor: pointer;
  border-radius: 5px;
  border: 3px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.payment-type label::before {
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  content: "\f00c";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #f19a83;
  border-radius: 20px 0 0 0;
  opacity: 0;
  visibility: hidden;
}
.payment-type input:checked + label {
  border: 2px solid #f19a83;
}
.payment-type input:checked + label::before {
  opacity: 1;
  visibility: visible;
}

.checkout_complete {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.checkout_complete__icon {
  width: 80px;
}
.checkout_complete__icon img {
  object-fit: contain;
  aspect-ratio: 1/1;
}
.checkout_complete__title {
  color: #5eac24;
  font-size: 24px;
}
.checkout_complete__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  border-bottom: 1px solid #cdcdcd;
  padding: 20px 10px;
}
.checkout_complete__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 20px 10px;
}
.checkout_complete__text {
  margin-bottom: 0;
}
.checkout_complete__text a {
  color: #011027;
  font-weight: 600;
}
.checkout_complete__back {
  color: #187bff !important;
}

.breadcrumb {
  padding: 16px 0;
  background-color: transparent;
  border-radius: 0;
}
.breadcrumb .breadcrumb-item i {
  color: #506DB3;
}
.breadcrumb .breadcrumb-item a {
  color: #58595b;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.breadcrumb .breadcrumb-item.active span {
  color: #011027;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.filterbar {
  border: 1px solid #EBEBEB;
}
.filterbar > h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 20px;
  background-color: #506DB3;
  border-radius: 5px 5px 0 0;
  margin-bottom: 0;
}
.filterbar .accordion {
  padding: 0 20px;
  background-color: #fff;
}
.filterbar .card {
  border: 0;
  padding: 8px 0;
}
.filterbar .card:not(:last-child) {
  border-bottom: 1px solid #cdcdcd !important;
}
.filterbar .card-header {
  background-color: transparent;
  border: 0;
  padding: 0;
}
.filterbar .card-header h3 {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.filterbar .card-header a {
  flex-grow: 1;
  display: block;
  color: #011027;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.filterbar .card-body {
  padding: 0;
}
.filterbar .card-body ul {
  padding: 6px 0;
  margin: 0;
  list-style-type: none;
}
.filterbar .card-body a {
  display: block;
  color: #747474;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
}
.filterbar .btn {
  width: 20px;
  box-shadow: none;
  border: 0;
  outline: 0;
  color: #011027;
  font-size: 15px;
  padding: 6px 0;
  position: relative;
  transition: 0.4s;
}
.filterbar .btn[aria-expanded=true] {
  transform: rotate(180deg);
}

.filterbar-sort {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
.filterbar-sort p {
  color: #000;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
}
.filterbar-sort select.form-control {
  width: 230px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pagination a,
.pagination span {
  color: black;
  float: left;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s;
}

.pagination a:hover,
.pagination span:hover {
  background-color: #506DB3;
  color: white;
}

.pagination li.active span {
  background-color: #506DB3;
  color: white;
}

.PagedList-skipToNext a,
.PagedList-skipToPrevious a {
  position: relative;
  text-indent: -999999px;
}

.PagedList-skipToNext a::after {
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  content: "\f061";
  position: absolute;
  top: 50%;
  left: 50%;
  text-indent: 1px;
  transform: translate(-50%, -50%);
}

.PagedList-skipToPrevious a::before {
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  content: "\f060";
  position: absolute;
  top: 50%;
  left: 50%;
  text-indent: 1px;
  transform: translate(-50%, -50%);
}

.item-article img {
  width: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
  margin-bottom: 5px;
  transition: 0.3s;
}
.item-article img:hover {
  filter: grayscale(100%);
}
.item-article .date {
  color: #58595b;
  font-size: 14px;
  margin-bottom: 10px;
}
.item-article .name {
  margin-bottom: 10px;
}
.item-article .name h3 {
  height: 54px;
  color: #011027;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  transition: 0.3s;
}
.item-article .name:hover h3 {
  color: #506DB3;
}
.item-article .text {
  height: 96px;
  color: #58595b;
  font-size: 14px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}

.name_contact {
  color: #506DB3;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.contact_map iframe {
  width: 100% !important;
  aspect-ratio: 1.3;
}

.info_contact {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  line-height: 26px;
}
.info_contact a {
  color: #011027;
  font-weight: bold;
}

.info_media {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px;
}
.info_media li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  color: #fff;
  background-color: #506DB3;
  border: 1px solid #506DB3;
  border-radius: 50%;
  transition: 0.3s;
}
.info_media li > a:hover {
  color: #506DB3;
  background-color: transparent;
}

.address-card {
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.address-card.default {
  position: relative;
}
.address-card.default::before {
  content: "Mặc định";
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 12px;
  color: #011027;
  font-size: 14px;
  font-weight: 600;
  background-color: #03de71;
  border-radius: 0 0 0 20px;
}
.address-card .title {
  font-weight: 600;
  color: rgb(31, 41, 55);
}
.address-card .description {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(75, 85, 99);
}
.address-card .description a {
  --tw-text-opacity: 1;
  color: rgb(59, 130, 246);
}
.address-card .description a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.address-card .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  flex-shrink: 0;
}
.address-card .pref {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(31, 41, 55);
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  background-color: transparent;
  padding: 0;
}
.address-card .pref:hover {
  color: rgb(156, 163, 175);
}
.address-card .pref:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.address-card .accept {
  margin-left: auto;
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: #007dd1;
  font-weight: 500;
  border-radius: 0.5rem;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border: none;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.address-card .accept.disabled {
  background-color: #8d8d8d !important;
}
.address-card .accept:hover {
  background-color: #38afff;
}
.address-card .accept:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.address-card .delete {
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: #EA3D30;
  font-weight: 500;
  border-radius: 0.5rem;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border: none;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.address-card .delete.disabled {
  background-color: #8d8d8d !important;
}
.address-card .delete:hover {
  background-color: #f3948d;
}
.address-card .delete:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.go-top {
  position: fixed;
  bottom: 10px;
  right: 50px;
  display: none;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.go-top:after {
  font-family: "Font Awesome 6 Pro";
  content: "\f106";
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #06519a;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.go-top-text {
  position: absolute;
  width: 60px;
  text-align: center;
  font-family: "Questrial";
  line-height: 1.5;
  letter-spacing: 3px;
  font-size: 12px;
  margin: 20px 0 0 -4px;
}

.hotline-phone-ring-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999;
}

.hotline-phone-ring {
  position: relative;
  visibility: visible;
  background-color: transparent;
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 11;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transition: visibility 0.5s;
  left: 0;
  bottom: 0;
  display: block;
}

.hotline-phone-ring-circle {
  width: 100px;
  height: 100px;
  top: 1px;
  left: 1px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid red;
  -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0.5;
}

.hotline-phone-ring-circle-fill {
  width: 70px;
  height: 70px;
  top: 16px;
  left: 16px;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.hotline-phone-ring-img-circle {
  background-color: red;
  width: 40px;
  height: 40px;
  top: 31px;
  left: 31px;
  position: absolute;
  background-size: 20px;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotline-phone-ring-img-circle .pps-btn-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.hotline-bar {
  position: absolute;
  background: #1564a7;
  height: 35px;
  width: max-content;
  line-height: 35px;
  border-radius: 3px;
  padding: 0 10px;
  background-size: 100%;
  cursor: pointer;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  z-index: 9;
  border-radius: 50px;
  left: 42px;
  bottom: 31px;
  opacity: 0;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: left center;
}

.hotline-phone-ring:hover ~ .hotline-bar {
  transform: scaleX(1);
  opacity: 1;
  visibility: visible;
}

.hotline-bar > a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  text-indent: 25px;
  letter-spacing: 1px;
  display: block;
  line-height: 35px;
  font-family: Arial;
}

.hotline-bar > a:hover,
.hotline-bar > a:active {
  color: #fff;
}

.zalo-ben-phai {
  position: fixed;
  left: 0;
  bottom: 70px;
  z-index: 999999;
}

.zalo-ben-phai .hotline-phone-ring-circle {
  border: 2px solid #2962FF;
}

.zalo-ben-phai .hotline-phone-ring-circle-fill {
  background-color: rgba(41, 98, 255, 0.7);
}

.zalo-ben-phai .hotline-phone-ring-img-circle {
  background-color: #2962FF;
}

.pps-btn-img img {
  position: relative;
  padding: 5px;
  z-index: 1;
}

@-webkit-keyframes phonering-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: 0.1;
  }
}
@-webkit-keyframes phonering-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
}
@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}
.plan {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.plan input {
  display: none;
}
.plan label {
  position: relative;
  color: #011027;
  background-color: #fff;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  width: max-content;
  height: 35px;
  padding: 0 10px;
  line-height: 35px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.plan input:checked + label {
  color: #506DB3;
  border: 2px solid #506DB3;
  background-color: #fff;
}

.nav-mobi {
  position: sticky;
  z-index: 999;
  top: 0;
  height: max-content;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 8px 0;
}
.nav-mobi .btn, .nav-mobi .shoppingcart {
  color: #506DB3;
  font-size: 22px;
}
.nav-mobi .bg-close {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  width: 20%;
  background-color: rgba(1, 16, 39, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.nav-mobi .bg-close button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  outline: 0;
  border: 0;
  color: #fff;
  font-size: 16px;
  background-color: transparent;
}
.nav-mobi.active .bg-close {
  right: 0;
  opacity: 1;
  visibility: visible;
}
.nav-mobi.active .nav-mobi-menu {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.nav-mobi-menu {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 80%;
  overflow: auto;
  background-color: #506DB3;
  list-style-type: none;
  padding: 90px 20px 20px;
  margin-bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.nav-mobi-menu li {
  display: flex;
  flex-wrap: wrap;
  border: 0;
}
.nav-mobi-menu li > a {
  flex-grow: 1;
  display: block;
  color: #fff;
  padding: 8px 0;
}
.nav-mobi-menu li.search form {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  border: 0;
}
.nav-mobi-menu li.search form input {
  padding: 6px 12px;
  flex-grow: 1;
  outline: 0;
  border: 0;
}
.nav-mobi-menu li.search form button {
  padding: 6px 12px;
  flex-shrink: 0;
  outline: 0;
  border: 0;
  color: #fff;
  background-color: #e74f27;
}
.nav-mobi-menu button {
  width: 40px;
  outline: 0;
  border: 0;
  color: #fff;
  font-size: 16px;
  background-color: transparent;
}
.nav-mobi-menu li > ul {
  flex: 1 1 100%;
  display: none;
  background-color: #fff;
  border-radius: 5px;
  padding: 0;
  margin: 10px 0;
}
.nav-mobi-menu ul li a {
  color: #011027;
  padding: 8px 16px;
}
.nav-mobi-menu ul li i {
  color: #011027;
}
.nav-mobi-menu ul ul {
  background-color: #506DB3;
  margin: 10px 15px 15px;
}
.nav-mobi-menu ul ul a {
  color: #fff;
  padding: 8px 16px;
}
.nav-mobi-menu .social-media {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-mobi-menu .social-media a {
  flex-grow: 0;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-mobi {
  position: relative;
}
.member-mobi:hover > .drop-menu {
  opacity: 1;
  visibility: visible;
}
.member-mobi .drop-menu {
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  width: 228px;
  list-style-type: none;
  padding: 0 13px;
  margin: 0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  opacity: 0;
  visibility: hidden;
}
.member-mobi .drop-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  transform: rotate(-45deg);
}
.member-mobi .drop-menu a, .member-mobi .drop-menu button {
  display: block;
  white-space: nowrap;
  padding: 8px 0;
  color: #011027;
  outline: 0;
  border: 0;
  background-color: transparent;
  transition: 0.2s;
}
.member-mobi .drop-menu a:hover, .member-mobi .drop-menu button:hover {
  color: #506DB3;
}
.member-mobi .drop-menu li:not(:last-child) a {
  border-bottom: 1px solid #cdcdcd;
}

@media (max-width: 1024px) {
  .shoppingcart-wrapper {
    position: relative;
  }
  .shoppingcart-wrapper:hover > .shoppingcart-mini {
    opacity: 1;
    visibility: visible;
  }
  .shoppingcart-wrapper .count {
    position: absolute;
    top: -6px;
    right: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 12px;
    background-color: #EA3D30;
    border-radius: 50%;
  }
  .shoppingcart-wrapper .shoppingcart-mini {
    position: absolute;
    top: calc(100% + 15px);
    right: -10px;
    z-index: 10;
    padding: 13px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .shoppingcart-wrapper .shoppingcart-mini::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
    transform: rotate(-45deg);
  }
  .outstanding-tabs {
    width: 88%;
    margin: 0 auto 20px;
    justify-content: start;
  }
  .news-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .news-grid .item-grid {
    flex: 1 1 45%;
    max-width: 45%;
    height: 300px !important;
    margin-bottom: 0 !important;
  }
  .news-grid .item-grid .image {
    width: 100% !important;
    height: 300px !important;
  }
  .news-grid .item-grid .content {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    display: flex !important;
    flex-direction: column;
    justify-content: start;
    height: 100px !important;
    opacity: 0.8;
    background: linear-gradient(180deg, rgba(28, 159, 151, 0) 0%, #0a3936 100%) !important;
    mix-blend-mode: normal;
    color: #fff;
    padding: 0 15px;
  }
  .news-grid .item-grid .name {
    height: 48px !important;
    line-height: 24px !important;
    color: #fff;
    font-size: 16px !important;
    font-weight: 600;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    margin-bottom: 0;
  }
  .news-grid .item-grid .date {
    display: block !important;
  }
  .news-grid .item-grid .text {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .news-grid .item-grid {
    flex: 1 1 100%;
    max-width: 100%;
    height: 300px !important;
  }
  .cart.table thead {
    display: none;
  }
  .cart.table tbody > tr {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-bottom: 10px solid #f3f7f8;
  }
  .cart.table .price.unit {
    display: none;
  }
  .cart.table .qty {
    padding: 0;
    width: 100%;
  }
  .cart.table .price.item-total {
    width: 100%;
  }
}
@media (max-width: 540px) {
  .product-buttons {
    flex-direction: column;
  }
}
