@model ProductViewModel

@{
    var collapses = Model.SkuProduct.FirstItem.Split(",");
    int i = 0;
    int indexs = 0;
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center">SKU</th>
            <th scope="col" class="text-center">Tồn kho</th>
            <th scope="col" class="text-center">Giá</th>
            <th scope="col" class="text-center">Giá bán</th>
        </tr>
    </thead>
    @foreach (var lap in collapses)
    {
        <tbody>
            @foreach (var item in Model.SkuProduct.Attrs.Where(m => m.Split("/").First() == lap))
            {
                <tr>
                    <th scope="row">
                        <p class="my-2">@lap</p>
                    </th>
                    <td>
                        <input class="form-control my-2" asp-for="SkuProduct.Skus" required placeholder="SKU" />
                        <input type="hidden" asp-for="SkuProduct.Options" value="@string.Join("/", Model.SkuProduct.OptionIds)" />
                        <input type="hidden" asp-for="SkuProduct.Values" value="@item" />
                        <input type="hidden" asp-for="SkuProduct.Ids" value="0" />
                    </td>
                    <td><input class="form-control my-2" type="number" value="0" required asp-for="SkuProduct.Stocks" placeholder="Tồn kho" /></td>
                    <td><input class="form-control input-number my-2" asp-for="SkuProduct.Prices" placeholder="Giá" /></td>
                    <td><input class="form-control input-number my-2" asp-for="SkuProduct.PriceSales" placeholder="Giá bán" /></td>
                </tr>

                indexs++;
            }
        </tbody>
    }
</table>

<input type="hidden" asp-for="SkuProduct.Indexs" value="@indexs" />

<script>
    $(".input-number").maskMoney({
        precision: 0,
        thousands: ','
    });
</script>
