

<div class="avatar-upload mb-4">
    <div class="avatar-edit">
        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
        <label for="imageUpload"></label>
    </div>
    <div class="avatar-preview">
        <div id="imagePreview" style="background-image: url('@Url.Content("~/images/no-image.jpg")');">
        </div>
    </div>
</div>
<h2 class="member-name mb-4">Nguyễn Văn A</h2>
<ul class="member-numbers mb-4">
    <li>
        <span class="name">Yêu thích</span>
        <span class="value">888</span>
    </li>
    <li>
        <span class="name">Đơn hàng</span>
        <span class="value">888</span>
    </li>
    <li>
        <span class="name">Tổng tiền</span>
        <span class="value">8,888,888 VNĐ</span>
    </li>
</ul>
<ul class="member-menu mt-4 mb-5">
    <li>
        <a href="" class="active">
            <i class="fa-regular fa-address-card"></i>Thông tin tài khoản
        </a>
    </li>
    <li>
        <a href="">
            <i class="fa-regular fa-key"></i>Đổi mật khẩu
        </a>
    </li>
    <li>
        <a href="">
            <i class="fa-regular fa-address-card"></i>Đường dẫn thành viên
        </a>
    </li>
    <li>
        <a href="">
            <i class="fa-regular fa-address-card"></i>Đường dẫn thành viên
        </a>
    </li>
    <li>
        <a href="">
            <i class="fa-regular fa-address-card"></i>Đường dẫn thành viên
        </a>
    </li>
</ul>
